@charset "UTF-8";
@import url("//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css");
@import url("//cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
    --wvu-blue: #002855;
    --wvu-gold: #EAAA00;
    --wvu-neutral--white: #F9F9F9;
    --wvu-neutral--black: #2C2A29;
    --wvu-neutral--dark-gray: #333F48;
    --wvu-neutral--light-gray: #A2AAAD;
    --wvu-neutral--dark-brown: #6E6259;
    --wvu-neutral--brown: #7C736A;
    --wvu-neutral--light-brown: #BFB8AF;
    --wvu-accent--dark-blue: #0033A0;
    --wvu-accent--blue: #005EB8;
    --wvu-accent--light-blue: #9BD3DD;
    --wvu-accent--brown: #4B3D2A;
    --wvu-accent--mustard: #8F701E;
    --wvu-accent--orange: #ED8B00;
    --wvu-accent--dark-green: #0D5257;
    --wvu-accent--green: #657A68;
    --wvu-accent--light-green: #9ABEAA;
    --wvu-accent--red: #BE3A34;
    --wvu-accent--burnt-orange: #CD4C08;
    --wvu-accent--yellow: #FDDA24;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1400px;
    --font-family-sans-serif: "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
