.corner-ribbon {
    width: 200px;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-size: x-large
}

.corner-ribbon.sticky {
    position: fixed
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.corner-ribbon.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.corner-ribbon.white {
    background: #f0f0f0;
    color: #555
}

.corner-ribbon.black {
    background: #333
}

.corner-ribbon.grey {
    background: #999
}

.corner-ribbon.blue {
    background: #39d
}

.corner-ribbon.green {
    background: #2c7
}

.corner-ribbon.turquoise {
    background: #1b9
}

.corner-ribbon.purple {
    background: #95b
}

.corner-ribbon.red {
    background: #D52B1A
}

.corner-ribbon.orange {
    background: #BB5500
}

.corner-ribbon.yellow {
    background: #ec0
}

@media (max-width: 991px) {
    .corner-ribbon {
        width: 100px;
        position: absolute;
        top: 12px;
        left: -25px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 1px;
        color: white;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        font-size: medium
    }

    .corner-ribbon.bottom-left {
        top: auto;
        bottom: 12px;
        left: -25px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg)
    }
}