<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title or "HOME" }} | Flask Demo | West Virginia University</title>
    {% block head_css %}{% endblock -%}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/custom.css") }}" type="text/css">
    {% if config["INSTANCE"] != "prod" %}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/ribbon.css") }}" type="text/css">
    {% endif %}
    {% block head_javascript %}{% endblock -%}
</head>

<body>
<header>
    <h1>DEMO</h1>
</header>
<main class="container" id="main_content">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                {% if category == "error" %}
                    <div class="alert alert-danger" role="alert">
                    <button class="btn btn-outline-danger btn-large" aria-label="Dismiss message" onclick="this.parentElement.style.display='none';">&times;</button>
                {% else %}
                    <div class="alert alert-success" role="alert">
                    <button class="btn btn-outline-secondary btn-large" aria-label="Dismiss error" onclick="this.parentElement.style.display='none';">&times;</button>
                {% endif %}
            {{ msg }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    {% if config['INSTANCE'] == 'dev' or config['INSTANCE'] == 'local-dev' %}
        <div id="instance">
            <div class="corner-ribbon bottom-left sticky red">DEV</div>
        </div>
    {% elif config['INSTANCE'] == 'test' or config['INSTANCE'] == 'local-test' %}
        <div id="instance">
            <div class="corner-ribbon bottom-left sticky orange">TEST</div>
        </div>
    {% elif config['INSTANCE'] == 'final' or config['INSTANCE'] == 'final-test' %}
        <div id="instance">
            <div class="corner-ribbon bottom-left sticky orange">FINAL</div>
        </div>
    {% endif %}
</footer>

{% block bottom_javascript %}
{% endblock %}

</body>

</html>
