{% extends "base.html" %}
{% set title = "Index" %}

{% block head_javascript %}
{% endblock %}

{% block content %}
    <h2>HOME</h2>
    <a href="/protected">Access protected page.</a>
{% endblock %}

{% block bottom_javascript %}
{% endblock %}