{% extends "base.html" %}
{% set title = "Protected" %}

{% block head_javascript %}
{% endblock %}

{% block content %}
    <h2>PROTECTED</h2>
    <p><a href="/logout">Logout</a></p>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">attribute</th>
              <th scope="col">value</th>
            </tr>
        </thead>
        <tbody>
        {% for attr in cas_attributes -%}
        <tr><td>{{ attr }}</td><td>{{ cas_attributes[attr] }}</td></tr>
        {% endfor -%}
        </tbody>
    </table>

{% endblock %}

{% block bottom_javascript %}
{% endblock %}